ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #444;
    z-index: 1;
}

.submenu li a {
    padding: 12px 16px;
    display: block;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #666;
}

#category:hover .submenu {
    display: block;
}

.submenu li:hover .submenu {
    display: block;
}

#category:hover > a {
    background-color: #555;
}